@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000;
  --background-start-hex: 214, 219, 220;
  --background-end-hex: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #fff;
    --background-start-hex: #131517;
    --background-end-hex: #131517;
  }
}

body {
  color: var(--foreground-hex);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-hex)
    )
    var(--background-start-hex);
}
